name: Build & Upload PyInstaller EXE to Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install requirements
        run: |
          python -m pip install --upgrade pip wheel
          pip install "setuptools<66"       # FIX QUAN TRỌNG NHẤT
          pip install -r requirements.txt

      - name: Build EXE with PyInstaller
        run: |
            pyinstaller --clean --onefile --collect-binaries "python*" --additional-hooks-dir=hooks --collect-data lxml --collect-submodules lxml --copy-metadata "packaging" --windowed --add-data "document_element.py;." --add-data "docx_processor.py;." --add-data "tinhoc_processor.py;." --name Convert_XML main.py

      - name: Zip build
        run: |
            powershell Compress-Archive -Path "dist\Convert_XML.exe" -DestinationPath "dist\app.zip" -Force

      - name: Upload EXE to Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/Convert_XML.exe
            dist/app.zip
          token: ${{ secrets.MY_GITHUB_TOKEN }}
          overwrite_files: true
